/* styles.css */
.custom-button {
    background: linear-gradient(45deg, #6b73ff, #000dff);
    color: white;
    border-radius: 12px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .custom-button:hover {
    transform: scale(1.1);
  }
  